@charset "UTF-8";
/* CSS Document */

.contentlist li {
	color: #666;
	font-size: 16px;
	font-family: "Courier", Courier, sans-serif;
	font-weight: normal;
	margin: 20px 20px 0px 20px;
}
.contentlist td {
	color: #666;
	font-size: 16px;
	font-family: "Courier", Courier, sans-serif;
	font-weight: normal;
	margin: 20px 20px 0px 20px;
}
.thumbnails h3 {
	color: #666;
	text-align: center;
	line-height: 20px;
}
.thumbnails a {
	border-bottom: none;
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
	text-align: center;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(1, 123, 118, .5);
	background-color: rgba(1, 123, 118, 0.1);
	cursor: pointer;
	outline: 0;
	overflow: hidden;
	text-decoration: none;
}
.thumbnails a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #aaa;
}
.column3 {
	float: left;
	width: 31%;
	padding: 5px;
}
.column4 {
	float: left;
	width: 23%;
	padding: 5px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
