@charset "UTF-8";
/* CSS Document */
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
	color: #000;
	text-align: center;
	background-color: #FFF;
}
p {
    color: #000;
    font-size: 16px;
    font-family: "Courier", Courier, sans-serif;
    font-weight: normal;
    margin-top: 0;
}
h1 {
    color: #017B76;
    font-family: "Courier", Courier, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 0px;
}
h2 {
    font-size: 18px;
    color: #017B76;
    font-family: "Courier", Courier, sans-serif;
    font-weight: normal;
    margin: 0.83em 0 0;
    padding: 10px 0px 10px 0px;
}
h3 {
    color: #485e93;
    font-family: "Courier", Courier, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 4px;
}
h4 {
    font-weight: bold;
    text-align: center;
    margin: 1.33em 0;
}
h5 {
    color: #666;
    font-family: "Courier", Courier, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
}
a {
    color: #017B76;
    font-family: "Courier", Courier, sans-serif;
    text-decoration: underline;
}
.fakelink {
    color: #017B76;
    text-decoration: underline;
    font-family: "Courier", Courier, sans-serif;
}
hr {
    border-top: thin solid #666;
    width: 50%;
}
#nav-bar ul {
    list-style-type: none;
    margin-left: 15%;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}
#nav-bar li {
    float:left;
    width:20%;
}
#nav-bar li a {
    display: block;
    color: #017B76;
    font-family: "Courier", Courier, sans-serif;
    text-align: center;
    padding: 80px 0px 10px 0px;
    text-decoration: none;
    border-bottom: solid #666;
}
#nav-bar li a:hover {
    color: #017B76;
    border-bottom: solid #017B76;
}
#outermostwrapper {
    text-align: left;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 0;
    background-color: #FFF;
}
#header {
    width:100%;
    height:110px;
    z-index:1;
}
#content {
    width:50%;
    z-index:2;
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}
#caption {
    width: 25%;
    margin-left: 100px;
    margin-top: 20vh;
    float:left;
}
#resume td {
    padding: 50px 0px 50px 0px;
}

/*
    Projects page
*/
.contentlist li {
    color: #666;
    font-size: 16px;
    font-family: "Courier", Courier, sans-serif;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
}
.contentlist td {
    color: #666;
    font-size: 16px;
    font-family: "Courier", Courier, sans-serif;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
}
.thumbnails h3 {
    color: #666;
    text-align: center;
    line-height: 20px;
}
.thumbnails a {
    border-bottom: none;
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(1, 123, 118, .5);
    background-color: rgba(1, 123, 118, 0.1);
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
}
.column3 {
  float: left;
  width: 31%;
  padding: 5px;
}
.column4 {
  float: left;
  width: 23%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*
    Contacts page
*/
#contact td {
    padding: 50px 50px 50px 50px;
}
#contact li {
    color: #666;
    font-size: 16px;
    font-family: "Courier", Courier, sans-serif;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
}
#under-construction {
    border-top: thin solid #666;
    width: 50%;
    margin-left: 25%;
    padding-top: 60px;
    text-align: center;
    font-style: italic;
}