@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'League Spartan';
  src: url('fonts/league-spartan.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
	font-family: "League Spartan", sans-serif;
	line-height: 1.2em;
	font-size: 100%;
	color: #000;
	text-align: center;
	background-color: #FFF;
}
p {
	color: #000;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	margin-top: 0;
}
h1 {
	color: #017B76;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 40px;
	margin: 0px;
}
h2 {
	font-size: 1.25em;
	color: #017B76;
	font-weight: 300;
	margin: 0.83em 0 0;
	padding: 10px 0px 10px 0px;
}
h3 {
	color: #017B76;
	font-size: 1em;
	font-weight: 500;
	line-height: 32px;
	margin-top: 4px;
}
h4 {
	font-weight: 700;
	text-align: center;
	margin: 1.33em 0;
}
h5 {
	color: #666;
	font-size: 16px;
	font-weight: 500;
	line-height: 12px;
}
a {
	color: #017B76;
	text-decoration: underline;
}
a:hover {
	color: #000000;
}
hr {
	border-top: thin solid #666;
	width: 50%;
}
.header {
	position: sticky;
  top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 2em 0 2em 0;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	z-index: 1000;
}
.nav {
	display: flex;
	gap: 1em;
}
.nav a {
	text-decoration: none;
	color: #017B76;
	text-align: center;
	padding: 0 0.5em 0.5em 0.5em;
	text-decoration: none;
}
.nav a:hover {
	color: #111111;
}
#outermostwrapper {
	text-align: left;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 0;
	background-color: #FFF;
	box-sizing: border-box;
}

/* Mobile */
@media (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
		padding: 0 0 0 0;
}

	.nav {
		flex-direction: column;
		gap: 0.5em;
		align-items: flex-start;
	}

	.nav a {
		padding: 0 0.5em 0.5em 0;
	}
	#outermostwrapper {
		width: 100%;
		padding: 0 1em 0 1em;
		z-index: 0;
	}
}

#under-construction {
	border-top: thin solid #666;
	width: 50%;
	margin-left: 25%;
	padding-top: 60px;
	text-align: center;
	font-style: italic;
}
